header.header
    form.select_list
        label(for="faculty") Faculty:
        select#faculty
                option(data-placeholder="true")
                option A
                option B
                option C