header.header
    form.select-list
        label(for="faculty") Faculty:
            select#faculty
                option(data-placeholder="true" value="placeholder")
        label(for="course") Course:
            select#course
                option(data-placeholder="true" value="placeholder")
        label(for="group") Group:
            select#group
                option(data-placeholder="true" value="placeholder")
        label(for="student") Student:
            select#student
                option(data-placeholder="true" value="placeholder")