header.header
    form.select_list
        label(for="faculty") Faculty:
            select#faculty
                option(data-placeholder="true")
        label(for="course") Course:
            select#course
                option(data-placeholder="true")
        label(for="group") Group:
            select#group
                option(data-placeholder="true")
        label(for="student") Student:
            select#student
                option(data-placeholder="true")