main.results
    .results__table
        .results__head
            .row
                .cell Subject
                .cell.cell_center 0
                .cell.cell_center 1
                .cell.cell_center 2
        .results__body