doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.css" rel="stylesheet")
        link(rel="stylesheet" href="./styles/style.min.css")
        title Document
    body
        include ./includes/header.pug
        include ./includes/main.pug
        include ./includes/footer.pug
        script(src="./js/index.bundle.js")