@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
.header {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    @include adaptive-font(15, 13);
}
.select-list {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    label {
        display: flex;
        flex:0 1 23%;
        align-items: center;
        justify-content: space-between;
        margin-top: 2%;
        .ss-main {
            width: 75%;
        }
        .ss-main .ss-single-selected .placeholder,
        .ss-main .ss-single-selected .placeholder * {
            overflow: visible !important;
        }
    }
}
