// laptop
@media (max-width: 1200px) {
    .select-list {
        flex-wrap: wrap;
        label {
            flex: 0 1 48%;
        }
    }
}
// tablet
@media (max-width: 768px) {
    .select-list {
        label {
            flex: 0 1 100%;
        }
    }
    .footer__buttons {
        width: 25%;
        flex-direction: column-reverse;
    }
}
// mobile L
@media (max-width: 425px) {
    .footer__buttons {
        width: 40%;
    }
    .results {
        &__table {
            margin-top: 7%;
        }
        .cell {
            padding: 4%;
        }
    }
}
