* {
    margin: 0;
    padding: 0;
}
.body {
    background-color: #f5f5f5;
}
.wrapper {
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.select_list {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.select_list form {
    display: flex;
    justify-content: space-between;
}
.subject_table {
    width: 50%;
}
.table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
    border-bottom: none;
}
.table tr,
.table th,
.table td {
    width: 100%;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
.table th {
    font-weight: normal;
    text-align: left;
    padding: 5px;
}
.table td {
    padding: 5px;
    box-sizing: border-box;
}
select {
    min-width: 10em;
}
.buttons {
    display: flex;
    justify-content: center;
}
.buttons button {
    outline: none;
    font-size: 20px;
    margin: 50px;
    border: none;
    background-color: #86878b;
    border-radius: 3px;
    color: #0a0a0a;
    padding: 12px;
    transition: all 0.3s ease-out;
}
.buttons button:hover {
    color: #242323;
    background-color: #a8a8aa;
}
#marks_result {
    padding-top: 2%;
    box-sizing: border-box;
}
